$violetaMaisforte:hsl(278, 68%, 11%);
.submitButton{
    position: relative;
    width: 100%;
    padding: 7px 60px;
    font-size: 1.1rem;
    border: 1px solid black;
    border-radius: 5px;
    color: white;
    background-color: $violetaMaisforte;
    &:active{background-color: rgb(105, 6, 175);}
}